:root {
  --lightblack: #212121;
  --gray: #757575;
  --white: #ffffff;
  --blue: #2196f3;
  --black: #000000;
  --darkgray: #2f303a;
  --dirtywhite: #ececec;
  --creamwhite: #f5f4fa;
}

* {
  font-family: 'Roboto', sans-serif;
}

header a {
  color: #212121;
  font-size: 14px;
  background-color: #ececec;
}

header a:hover {
  color: #2196f3;
}

main button {
  background-color: #f5f4fa;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
}

main p {
  font-size: 16px;
  line-height: 30px;
}

footer {
  background-color: #2f303a;
}

footer p {
  color: #ffffff;
  line-height: 30px;
  line-height: 24px;
  font-size: 14px;
}

footer a {
  color: #757575;
  line-height: 24px;
  font-size: 14px;
}
