:root {
  --lightblack: #212121;
  --gray: #757575;
  --white: #ffffff;
  --blue: #2196f3;
  --black: #000000;
  --darkgray: #2f303a;
  --dirtywhite: #ececec;
  --creamwhite: #f5f4fa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  font-weight: 900;
}

.header-container {
  max-height: 80px;
  padding-top: 0px;
  padding-bottom: 13px;
  margin-left: 215px;
}

.header-links-3childs {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 50px;
}

.header-links-2childs {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 50px;
}

.header-content {
  color: #212121;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.header-content:hover:-moz-only-whitespace {
  color: #2196f3;
  height: 200px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 {
  color: #ffffff;
  background-color: #2f303a;
  height: 600px;
}

.section-3-h {
  margin-left: 445px;
  margin-right: 459px;
}

.section-1-h1 {
  margin-top: 195px;
}

.section-1-h2 {
  margin-top: 10px;
}

.section-1-button {
  width: 216px;
  height: 50px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 550;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
}

.section-2 {
  height: 206px;
}

.section-2 article {
  display: flex;
}

.section-2-ul {
  list-style: none;
  display: flex;
}

.section-3 {
  height: 386px;
}

.section-3-h {
  margin-bottom: 50px;
}

.section-4 {
  background-color: #f5f4fa;
  height: 648px;
}
.section-4-h {
  margin-bottom: 50px;
}

.section-3-img {
  gap: 30px;
  display: flex;
  list-style: none;
}

.section-3:nth-child(2) {
  background-image: linear-gradient(to top left, rgba(0, 0, 255, 0.034), rgba(165, 42, 42, 0.29));
}

.section:nth-child(1) {
  flex-direction: column;
}

.gradient-img-left {
  background-image: linear-gradient(to top right, rgba(0, 0, 255, 0.436), rgba(0, 0, 255, 0.162));    
}

.gradient-img-left {
  background-image: linear-gradient();  
}

.gradient-img-left {
  background-image: linear-gradient();
}

.section-2 p {
  font-size: 14px;
}

.section-2 h4 {
  font-size: 14px;
}

.section-4 p {
  font-size: 16px;
}

.card {
  background-color: white;
  box-shadow: -10px -5px 10px -15px rgba(0, 0, 0, 0.568);
  overflow: hidden;
  text-align: center;
  width: 270px;
  margin-bottom: 20px;
}

a .card img {
  width: 100%;
  height: auto;
}

.card h4 {
  margin: 15px 0 10px;
  font-size: 18px;
  color: #333;
}

.card p {
  margin: 0 0 15px;
  font-size: 16px;
  color: #777;
}

.footer-container {
  padding-bottom: 60px;
  background-color: #2f303a;
  color: #ffffff;
}

.footer-content {
  margin-left: 172px;
  margin-top: 60px;
}

.footer-a-1,
.footer-a-2 {
  color: #757575;
  text-decoration: none;
  list-style: none;
}
