/* fonts */

/* font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif; */

:root {
  --heading-black: #212121;
  --text-gray: #757575;
  --regular-white: #ffffff;
  --hover-blue: #2196f3;
  --regular-black: #000000;
  --extra-gray: #2f303a;
  --dirtywhite: #ececec;
  --creamwhite: #f5f4fa;
  --card-bg-gray: #f5f4fa;
  --fill-icons-gray: #afb1b8;
}

/* general selectors */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 100%;
  /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

.portfolio-header {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 94px; */
  padding-bottom: 94px;
  width: 1170px;
  /* outline: 2px solid red; */
  display: flex;
  /* flex-wrap: wrap; */
}

/* header start */

.header {
  width: 2000px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

section {
  width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: -50px;
}

.h2 {
  font-size: 36px;
  font-weight: 900;
  color: #212121;
  margin-bottom: 50px;
  letter-spacing: 1.08px;
  text-align: center;
  padding-top: 94px;
}

ul {
  list-style: none;
}

.logo-span {
  color: #2196f3;
}

/* header-beginning*/

.header-container {
  width: 1158px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  /* outline: 2px solid red; */
}

.header-logo {
  color: #000000;
  font-size: 26px;
  margin-right: 93px;
  letter-spacing: 0.78px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  /* outline: 2px solid red; */
}

.header-logo {
  text-decoration: none;
  position: relative;
}

.webstudio-underline {
  position: relative;
}

.webstudio-underline::after {
  content: '';
  position: absolute;
  width: 45.08px;
  height: 4px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  transform: translate(-100%, 1120%);
}

.portfolio-underline::after {
  content: '';
  position: absolute;
  width: 72.25px;
  height: 4px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  transform: translate(-100%, 1120%);
}

.header-links-left {
  display: flex;
  gap: 50px;
  list-style: none;
}

.header-links-right {
  display: flex;
  gap: 100px;
  list-style: none;
  margin-left: 318px;
}

.header-links-left a {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease-out;
}

.header-link:hover {
  /* transform: scale(1.5); */
  /* transition: 0.5s ease-out; */
}

.header-links-right a {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-left: -40px;
  font-weight: 700;
  text-decoration: none;
  /* gap: 100px; */
  /* transition: 0.3s ease-out; */
}

.link-right {
  display: flex;
  /* flex-direction: row-reverse; */
  position: relative;
}

.link-right:hover {
  transform: perspective(1.1);
  transition: 0.3s ease;
}

.mail-icon {
  width: 16px;
  height: 12px;
  fill: #070101;
  cursor: pointer;
  transform: translate(-180%, 18%);
  position: absolute;
  /* transition: 0.2s ease-out; */
}

.mail-icon:hover {
  fill: #2196f3;
  /* transform: scale(2); */
  /* transition: 0.5s ease-out; */
}

.phone-icon {
  width: 10px;
  height: 16px;
  fill: #757575;
  cursor: pointer;
  transform: translateX(-180%);
  position: absolute;
  /* transition: 0.3s ease-out; */
}

.phone-icon:hover {
  fill: #2196f3;
  cursor: pointer;
  /* transform: scale(2); */
  /* transition: 0.5s ease-out; */
}

.header-content:hover {
  color: #2196f3;
}

.link-right:hover .header-icon {
  fill: #2196f3;
}

.header-icon {
}

/* main */

/* section-1 */

.ws-section-1 {
  background-image: url(img/page-1/section-1-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
  margin-bottom: 94px;
}

.heading1-container {
  margin-left: auto;
  margin-right: auto;
}

.h1 {
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  padding-top: 100px;
}

.section-1-button {
  display: block;
  width: 216px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  padding: 14px 32px;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: 0.96px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s ease-out;
}

/* modal-window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
  height: 630px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1.5px 0px 1px rgba(0, 0, 0, 0.08);
  /* outline: 2px solid red; */
}

/* .no-scroll {
  overflow: hidden;
} */

.modal-close-wraper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 480px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.modal-close {
  width: 18px;
  height: 18px;
  fill: #000000;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 4.5px;
  left: 5.5px;
}

.modal-close:hover {
  fill: #2196f3;
  transition: 0.2s ease-out;
  transform: perspective(0.8s);
}

.modal-heading {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.6px;
  columns: #212121;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.modal-label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.12px;
  color: #757575;
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-input {
  width: 448px;
  height: 58px;
  padding-left: 42px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  /* margin-top: 4px; */
}

.modal-input:hover {
  border: 2px solid #2196f3;
  transition: 0.8s ease-out;
  transform: perspective(0.8s);
}

/* modal-icons */

.modal-icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  position: absolute;
  top: 35px;
  left: 17px;
  cursor: pointer;
  /* outline: 2px solid red; */
}

.modal-icon:hover {
  fill: #2196f3;
  transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.modal-textarea {
  width: 448px;
  height: 120px;
  padding: 12px 349px 94px 16px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.12px;
  color: rgba(117, 117, 117, 1);
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  resize: none;
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.modal-textarea:hover {
  border: 2px solid #2196f3;
  transform: perspective(0.8s);
  transition: 0.8s ease-out;
}

/* modal-confirm */

.modal-confirm {
  display: flex;
  white-space: nowrap;
  margin-top: 10px;
  margin-right: 20px;
  height: 24px;
}

.modal-radio {
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  margin-right: 5px;
  cursor: pointer;
  /* position: relative;
  top: 25px;
  right: 205px; */
}

.modal-text {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.42px;
  color: #757575;
  /* outline: 2px solid red; */
}

.modal a {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.42px;
  color: #2196f3;
  text-decoration: none;
  margin-left: 3px;
}

.modal a:hover {
  text-decoration: underline;
}

.modal-button {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.96px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 52px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  margin-top: 3px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.modal-button:hover {
  transform: scale(1.2);
  transition: 0.7s ease-out;
}

.section-1-button:hover {
  transform: scale(1.2);
}

/* section-2  */

.section-2-cards {
  width: 1170px;
  height: 248px;
  display: flex;
  gap: 30px;
  /* outline: 2px solid red; */
}

.section-2-card {
  width: 270px;
  height: 248px;
  display: flex;
  flex-direction: column;
}

.section-2-card-top-content {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  /* outline: 2px solid red; */
}

.s2-img {
  width: 70px;
  height: 70px;
  margin: 25px 100px;
  /* fill: #212121; */
}

.section-2-card-heading {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #212121;
  font-weight: 900;
  letter-spacing: 0.42px;
}

.section-2-card-text {
  font-size: 14px;
  color: #757575;
  font-weight: 400;
  letter-spacing: 0.42px;
}

.section-2-img {
  margin: 25px 101.54px 25px 101.5px;
  width: 66.96px;
  height: 70px;
}

/* section-3 */

.section-3-contents {
  display: flex;
  gap: 30px;
  list-style: none;
}

.section-3-img {
  display: block;
}

.section-3-card {
  position: relative;
  display: inline-block;
}

.section-3-img-stripe {
  position: relative;
  background-color: #2f303a;
  opacity: 80%;
  width: 100%;
  height: 70px;
  margin-top: -69px;
}

.section-3-img-heading {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  letter-spacing: 0.82px;
}

/* section-4 */

.section-4 {
  background-color: #f5f4fa;
}

.section-4-cards {
  display: flex;
  width: 1170px;
  height: 428px;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.section-4-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -10px -5px 10px -15px rgba(0, 0, 0, 0.568);
}

.dude {
  width: 100% 260px;
}

/* card-1 */

.section-4-card-1-heading {
  font-size: 16px;
  color: #212121;
  margin: 30px 70px 10px 70px;
  letter-spacing: 0.48px;
}

.section-4-card-1-text {
  font-size: 16px;
  color: #757575;
  margin: 0px 70px 16px 69px;
  letter-spacing: 0.48px;
}

/* card-2 */

.section-4-card-2-heading {
  font-size: 16px;
  color: #212121;
  margin: 30px 83px 10px 83px;
  letter-spacing: 0.48px;
}

.section-4-card-2-text {
  font-size: 16px;
  color: #757575;
  margin: 0px 61px 16px 62px;
  letter-spacing: 0.48px;
}

/* card-3 */

.section-4-card-3-heading {
  font-size: 16px;
  color: #212121;
  margin: 30px 70px 10px 69px;
  letter-spacing: 0.48px;
}

.section-4-card-3-text {
  font-size: 16px;
  color: #757575;
  margin: 0px 97px 16px 97px;
  letter-spacing: 0.48px;
}

/* —Åard-4 */

.section-4-card-4-heading {
  font-size: 16px;
  color: #212121;
  margin: 30px 62px 10px 62px;
  letter-spacing: 0.48px;
}

.section-4-card-4-text {
  font-size: 16px;
  color: #757575;
  margin: 0px 91px 16px 92px;
  letter-spacing: 0.48px;
}

/* section-4 general selectors */

.section-4-icons {
  display: flex;
  gap: 22px;
  width: 206px;
  height: 44px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
  gap: 24px;
}

.section-4-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  margin-top: 7px;
  transition: 0.3s ease-out;
}

.section-4-icon:hover {
  fill: #ffffff;
}

.section-4-icon-bg {
  width: 44px;
  height: 34px;
  border-radius: 50px;
  transition: 0.3s ease-out;
}

.section-4-icon-bg:hover {
  background-color: #2196f3;
  cursor: pointer;
  transform: scale(1.2);
}

/* section-5 */

.section-5-cards {
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}

.section-5-card {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.section-5-card:hover {
  border: 1px solid #2196f3;
  transform: scale(1.1);
}

.section-5-card:hover .section-5-icon {
  fill: #2196f3;
}

.section-5-icon {
  width: 100px;
  height: 60px;
  margin: 16px 32px;
  fill: #afb1b8;
}

/* footer */

.footer {
  background-color: #2f303a;
}

footer a {
  color: #ffffff;
  opacity: 60%;
  font-weight: 400;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.42px;
}

footer p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.42px;
}

.footer-content {
  display: flex;
  gap: 70px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
  list-style: none;
  margin-top: 60px;
}

.footer-logo {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  list-style: none;
  letter-spacing: 0.78px;
}

.footer-left-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-media {
  display: flex;
  list-style: none;
  gap: 10px;
}

.social-media-heading {
  margin-top: 72px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-icon {
  fill: #ffffff;
  margin: 12px;
  width: 20px;
  height: 20px;
}

.footer-icon-bg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s ease-out;
}

.footer-icon-bg:hover {
  background-color: #2196f3;
  cursor: pointer;
  transform: scale(1.3);
}

.subscription-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscription-details {
  display: flex;
  gap: 12px;
  list-style: none;
}

.subscription-heading {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 72px;
  margin-bottom: 20px;
}

.subscription-input {
  border: 2px solid #ffffff30;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.48px;
  outline: none;
  background-color: #2f303a;
  padding-left: 16px;
  box-sizing: border-box;
  transition: 0.5s ease-out;
}

.subscription-input:hover {
  transform: scale(1.1);
}

.subscription-button {
  color: #ffffff;
  background-color: #2196f3;
  font-size: 16px;
  letter-spacing: 0.96px;
  padding: 13px 28px 13px 28px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.subscription-button:hover {
  transform: scale(1.1);
}

.subsctription-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-bottom: -6px;
  /* transition: 0.4s ease-out; */
}

.subsctription-icon:hover {
  /* transform: scale(1.1); */
}

/* portfolio */

/* main */

/*  portfolio section-1 */

.orientation-buttons {
  width: 567px;
  display: flex;
  gap: 8px;
  margin: 94px 513px 0px 512px;
}

.orientation-button {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  white-space: nowrap;
  transition: 0.4s ease-out;
}

.orientation-button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 500;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}

/* portfolio section-2 */

.portfolio-cards {
  width: 1170px;
  height: 1360px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 94px 215px;
}

.card-line {
  width: 100%;
  height: 404px;
  display: flex;
  gap: 30px;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 404px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-out;
}

.portfolio-card:hover {
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

/* img hover */

.image-hover-bg {
  position: relative;
  width: 370px;
  height: 294px;
}

.image-hover-bg:hover {
  background-color: rgba(33, 150, 243, 0.9);
}

/* .image-hover-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.4s ease-out;
} */

.image-hover-bg:hover::before {
  background-color: rgba(33, 150, 243, 0.9);
}

.image-hover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 147px;
  left: 186px;
  transform: translate(-50%, -50%);
  padding: 63px 24px;
  color: #ffffff;
  transition: 0.3s ease-out;
  line-height: 28px;
  letter-spacing: 0.54px;
  font-size: 18px;
  font-weight: 400;
  opacity: 0;
  cursor: default;
  background-color: var(--hover-blue);
  /* display: none; */
}

.image-hover-text:hover {
  display: flex;
  opacity: 1;
}

.portfolio-card-image {
  display: block;
  width: 100%;
  height: 100%;
}

/* card elements */

.portfolio-card-heading {
  font-size: 18px;
  font-weight: 900;
  color: #212121;
  letter-spacing: 1.18px;
  margin: 20px 24px 4px 24px;
}

.portfolio-card-text {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  letter-spacing: 0.6px;
  margin: 4px 24px 20px 24px;
}
