:root {
  --lightblack: #212121;
  --gray: #757575;
  --white: #ffffff;
  --blue: #2196f3;
  --black: #000000;
  --darkgray: #2f303a;
  --dirtywhite: #ececec;
  --creamwhite: #f5f4fa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 900;
}

h1:nth-child(2) {
  margin: 0 auto;
}

h2 {
  font-size: 36px;
  font-weight: 900;
}

button {
  max-width: 216px;
  border: solid 10px 32px;
  border-color: #2f303a;
  border-radius: 3px;
  background-color: #2196f3;
  color: #ffffff;
}

.header-container {
  max-width: 1600px;
  padding-top: 0px;
  padding-bottom: 13px;
}

.header-links {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.header-content {
  color: #212121;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.header-content:nth-child(1) {
  max-width: 145px;
  margin: 24px 93px 25px 215px;
}

.header-content:nth-child(2) {
  max-width: 45px;
  margin: 32px 50px 32px 93px;
}
.header-content:nth-child(3) {
  max-width: 72px;
  margin: 32px 50px;
}
.header-content:nth-child(4) {
  max-width: 64px;
  margin: 32px 344px 32px 50px;
}
.header-content:nth-child(5) {
  max-width: 135px;
  margin: 32px 50px 32px 344px;
}

.header-content:nth-child(6) {
  max-width: 122px;
  margin: 32px 215px 50px 32px;
}

.header-content:hover {
  color: #2196f3;
}

.main-container {
  max-width: 1600px;
  padding-top: 67px;
  padding-bottom: 94;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 {
  color: #ffffff;
  background-color: #2f303a;
}

.main-content:nth-child(3) {
  margin: 94px 30px 10px 215px;
}
.main-content:nth-child(5) {
  margin: 94px 30px 10px 30px;
}
.main-content:nth-child(7) {
  margin: 94px 30px 10px 30px;
}
.main-content:nth-child(9) {
  margin: 94px 215px 10px 30px;
}

.main-content:nth-child(4) {
  display: flex;
  color: #757575;
  font-weight: 400;
  margin: 10px 30px 94px 215px;
}
.main-content:nth-child(6) {
  display: flex;
  color: #757575;
  font-weight: 400;
  margin: 10px 30px 118px 30px;
}
.main-content:nth-child(8) {
  display: flex;
  color: #757575;
  font-weight: 400;
  margin: 10px 30px 118px 30px;
}
.main-content:nth-child(10) {
  display: flex;
  color: #757575;
  font-weight: 400;
  margin: 10px 215px 94px 30px;
}

.main-content:nth-child(11) {
  width: 370px;
  height: 294px;
}

.main-content:nth-child(12) {
  width: 370px;
  height: 294px;
}

.main-content:nth-child(13) {
  width: 370px;
  height: 294px;
}

.main-content:nth-child(14) {
  width: 270px;
  height: 260px;
}

.main-content:nth-child(15) {
  width: 270px;
  height: 260px;
}

.main-content:nth-child(16) {
  width: 270px;
  height: 260px;
}

.main-content:nth-child(16) {
  width: 270px;
  height: 260px;
}

.section:nth-child(1) {
  flex-direction: column;
}

.section-4 {
  background-color: #f5f4fa;
}

.section-2 p {
  font-size: 14px;
}

.section-2 h4 {
  font-size: 14px;
}

.section-4 p {
  font-size: 16px;
}

.footer-container {
  max-width: 1600px;
  padding-bottom: 60px;
  background-color: #2f303a;
  color: #ffffff;
  margin-left: 215px;
}

.footer-container a {
  color: #757575;
  text-decoration: none;
  list-style: none;
}
