// TODO mobile
// @media screen and (min-width: 320px) and (max-width: 768px) {
@media screen and (min-width: 320px) {
  .container {
    width: 95vw;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .burger {
      display: flex;
    }

    &__logo {
      margin: 0;
    }

    &__nav {
      display: none;
      flex-direction: column;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto;
      animation: burgerAnimation 0.4s;
    }

    .header.open .header__nav {
      display: flex;
    }
  } 

  .hero {
    padding: 0;

    &__heading {
      font-size: 26px !important;
    }

    .modal {
      // width: 450px;
      width: 93.75%;
      height: 609px;
    }
  }

  .article {
    &__card {
      width: 100%;
    }

    &__heading {
      text-align: center;
    }

    &__text {
      margin-bottom: 30px;
    }
  }

  .business {
    display: none;
  }

  .team {
    &__card {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .clients {
    &__card {
      width: 45%;
      height: 117px;
    }
  }

  .footer {
    &__container {
      flex-direction: column;
      gap: 60px;
      text-align: center;
    }

    &__interaction {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
    }

    &__heading {
      margin: 0;
    }
  }

  .portfolio__card {
    width: 100%;
  }

  .portfolio {
    &__btns-wrapper {
      width: 68%;
      margin-left: 0;
      justify-content: start;
    }
  }

  .modal {
    top: 0;
    // transform: translateY(20%);
  }
}

// TODO tablet
// @media screen and (min-width: 768px) and (max-width: 1200px) {
@media screen and (min-width: 768px) {
  .container {
    width: 95vw;
  }

  .header {
    position: static;

    &__logo {
      margin: 0;
    }

    &__nav {
      margin-left: auto;
      display: flex;
    }

    &__email {
      // outline: 2px solid red;
      width: 180px;
    }

    &__emails {
      flex-direction: column;
      gap: 10px;
      display: flex;
    }

    .burger {
      display: none;
    }
  }

  .hero {
    // @extend %background-styles;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // outline: 2px solid red;
    padding: 0;

    // &__heading {
    //  font-size: 3.6% !important;
    // }

    .modal {
      // width: 450px;
      width: 58.6%;
      height: 609px;
    }
  }

  .article {
    &__card {
      width: 48%;
      margin-top: 15px;
      margin-bottom: 15px;
      // @extend %standart-center;
    }
  }

  .business {
    display: none;
  }

  .team {
    &__card {
      width: 48%;
      margin-top: 30px;
    }

    &__img {
      height: 70%;
    }
  }

  .clients {
    &__card {
      width: 30%;
      height: 113px;
    }
  }

  .footer {
    gap: 8.75%;
    // 1740 width with gap

    .container {
      width: 75%;
      text-align: center;
      justify-content: space-between;
    }

    &__heading {
      margin: 0;
    }

    &__contacts {
      width: 30%;
      margin: 0;
    }

    &__social-media {
      width: 30%;
      margin: 0;
    }

    &__interaction {
      flex-direction: column;
      // margin-left: 150px;
      margin-left: 30%;
      margin-top: 40px;
    }
  }

  .portfolio__card {
    width: 48%;
  }
}

// TODO desktop

@media screen and (min-width: 1200px) {
  .container {
    width: 85vw;
  }

  .header {
    .burger {
      display: none;
    }

    &__nav {
      display: flex;
    }

    &__emails {
      display: flex;
      flex-direction: row;
      gap: 50px;
    }
  }

  .hero {
    font-size: 44px;

    .modal {
      top: -300%;
      left: 50%;
      transform: translate(-50%, -50%);
      // width: 540px;
      width: 30%;
      height: 630px;
      gap: 10px;
      border-radius: 4px;
    }
  }

  .article {
    &__card {
      width: 22%;
    }

    &__heading {
      text-align: start;
    }
  }

  .business {
    // display: inline;
    display: block;

    &__card {
      width: 31%;
    }
  }

  .team {
    &__card {
      width: 22%;
    }
  }

  .clients {
    &__card {
      width: 14.9%;
    }
  }

  .footer {
    flex-wrap: nowrap;

    .container {
      flex-direction: row;
      // gap: 60px;
      text-align: start;
      width: 85vw;
      justify-content: start;
    }

    &__interaction {
      flex-direction: row;
      width: 32%;
      margin: 0;
    }
  }

  .portfolio {
    &__card {
      width: 31%;
    }

    &__btns-wrapper {
      width: 36%;
      margin-left: auto;
      justify-content: center;
    }
  }
}
