// tablet

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 95vw;
  }

  .team {
    &__card {
      width: 48%;
      margin-top: 30px;
    }

    &__img {
      height: 70%;
    }
  }

  .clients {
    &__card {
      width: 30%;
      height: 113px;
    }
  }
}

// mobile

@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    width: 95vw;
  }

  .team {
    &__card {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .clients {
    &__card {
      width: 47%;
      height: 117px;
    }
  }
}
