.footer {
  // width: 2000px;
  @extend %standard-center;
  padding-bottom: 100px;
  background-color: #2f303a;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 9px;
    list-style: none;
    margin-top: 60px;
  }

  &__logo {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    list-style: none;
    letter-spacing: 0.78px;
    font-weight: 600;
  }

  &__address {
    color: #ffffff;
    opacity: 100%;
    font-weight: 400;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.42px;
  }

  &__link {
    color: #ffffff;
    opacity: 60%;
    font-weight: 400;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.42px;
  }

  &__social-media {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__heading {
    margin-top: 72px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__icons {
    display: flex;
    list-style: none;
    gap: 10px;
  }

  &__icon-bg {
    cursor: pointer;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #2196f3;
      transform: scale(1.2);
      animation: bounce 1s ease-in-out 1;
      box-shadow: 0px 0px 13px -4px rgba(255, 255, 255, 1);
    }
  }

  &__icon {
    fill: #ffffff;
    width: 20px;
    height: 20px;
    cursor: pointer;
    // margin-top: 12px;
    // margin-left: 12px;
  }

  &__subscription {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    // width: 900px;
    // flex-direction: column;
    // gap: 20px;
  }

  &__interaction {
    // display: flex;
    gap: 12px;
    align-items: center;
  }

  &__input {
    border: 2px solid #ffffff30;
    width: 358px;
    // width: 60%;
    height: 50px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.48px;
    outline: none;
    background-color: #2f303a;
    padding-left: 16px;
    box-sizing: border-box;
    margin-top: 13px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1.1);
    }

    &:focus {
      transform: scale(1.1);
    }
  }

  &__btn {
    color: #ffffff;
    background-color: #2196f3;
    font-size: 16px;
    letter-spacing: 0.96px;
    padding: 13px 28px 13px 28px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    // width: 33%;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 20px -7px rgba(255, 255, 255, 1);
    }

    &:hover::after {
      content: '';
      background: url('../img/page-1/keyframes-arrow.png');
      @extend %background-styles;
      width: 35px;
      height: 35px;
      position: absolute;
      top: -30px;
      right: 100px;
      animation: arrow-hover 6s infinite linear;
    }
  }

  &__interaction-icon {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    margin-bottom: -6px;
    /* transition: 0.4s ease-out; */
  }
}

@media screen and (min-width: 320px) {
  .footer {
    &__container {
      flex-direction: column;
      gap: 60px;
      text-align: center;
    }

    &__interaction {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
    }

    &__heading {
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    gap: 8.75%;
    // 1740 width with gap

    .container {
      width: 75%;
      text-align: center;
      justify-content: space-between;
    }

    &__heading {
      margin: 0;
    }

    &__contacts {
      width: 30%;
      margin: 0;
    }

    &__social-media {
      width: 30%;
      margin: 0;
    }

    &__interaction {
      flex-direction: column;
      // margin-left: 150px;
      margin-left: 30%;
      margin-top: 40px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    flex-wrap: nowrap;

    .container {
      flex-direction: row;
      // gap: 60px;
      text-align: start;
      width: 85vw;
      justify-content: start;
    }

    &__interaction {
      flex-direction: row;
      width: 32%;
      margin: 0;
    }
  }
}
