.section-3-contents {
  display: flex;
  gap: 30px;
  list-style: none;
}

.section-3-card {
  width: 370px;
  height: 294px;
  /* outline: 2px solid red; */
  display: flex;
}

.section-3-card:hover {
  animation: wobble 1.5s ease-in-out 1;
  animation-delay: 0s;
}

.section-3-card:nth-child(1) {
  background-image: url(img/webstudio/content-1.jpg);
}

.section-3-card:nth-child(2) {
  background-image: url(img/webstudio/content-2.jpg);
}

.section-3-card:nth-child(3) {
  background-image: url(img/webstudio/content-3.jpg);
}

.section-3-img-stripe {
  background-color: #2f303a;
  opacity: 80%;
  width: 100%;
  height: 70px;
  align-self: flex-end;
  color: white;
  padding-left: 100px;
  padding-top: 25px;
  letter-spacing: 0.6px;
}

.section-3-img-heading {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  letter-spacing: 0.82px;
}