* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  max-width: 100% !important;
}

html {
  scroll-behavior: smooth;
  max-width: 100% !important;
}

body {
  max-width: 100% !important;
  /* overflow: scroll; */
  /* overflow-x: hidden; */
  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

.logo-span {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
}

.container {
  @extend %standard_center;
  width: 1170px;
// outline: 2px solid red;
}
