%standard-center {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

%background-styles {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-clip: border-box;
}

%h2-styles {
  font-size: 36px;
  font-weight: 900;
  color: #212121;
  margin-bottom: 50px;
  letter-spacing: 1.08px;
  text-align: center;
  padding-top: 94px;
}

%text-styles {
  letter-spacing: 0.90px;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}