:root {
  --heading-black: #212121;
  --text-gray: #757575;
  --regular-white: #ffffff;
  --hover-blue: #2196f3;
  --regular-black: #000000;
  --extra-gray: #2f303a;
  --dirtywhite: #ececec;
  --creamwhite: #f5f4fa;
  --card-bg-gray: #f5f4fa;
  --fill-icons-gray: #afb1b8;
}