.business {
  &__cards {
    @extend %standard_center;
    gap: 30px;
    list-style: none;
  }

  &__card {
    width: 370px;
    height: 294px;
    /* outline: 2px solid red; */
    @extend %standard_center;
    &:nth-of-type(1) {
      background-image: url('./img/webstudio/content-1.jpg');
    }
    &:nth-of-type(2) {
      background-image: url('./img/webstudio/content-2.jpg');
    }

    &:nth-of-type(3) {
      background-image: url('./img/webstudio/content-3.jpg');
    }

    &:hover {
      animation: wobble 1.5s ease-in-out 1;
      animation-delay: 0s;
    }
  }

  &__stripe {
    background-color: #2f303a;
    opacity: 80%;
    width: 100%;
    height: 70px;
    align-self: flex-end;
    color: white;
    padding-left: 100px;
    padding-top: 25px;
    letter-spacing: 0.6px;
  }

  &__heading {
    @extend %h2-styles;
  }
}
