.article {
  max-width: 100%;

  .container {
    justify-content: space-between;
  }

  &__card {
    // width: 270px;
    // height: 248px;
    // @extend %standard-center;
    width: 22%;
    display: flex;
    flex-direction: column;
    // justify-content: start;
    // align-items: start;

    &:hover {
      animation: fadeOut 2s linear 1;
    }
  }

  &__top-content {
    background-color: #f5f4fa;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: 2px solid red; */
  }

  &__heading {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #212121;
    font-weight: 900;
    letter-spacing: 0.42px;
  }

  &__text {
    font-size: 14px;
    color: #757575;
    font-weight: 400;
    letter-spacing: 0.38px;
  }

  &__icon {
    margin: 25px 101.54px 25px 101.5px;
    width: 66.96px;
    height: 70px;
  }
}

@media screen and (min-width: 320px) {
  .article {
    &__card {
      width: 100%;
    }

    &__heading {
      text-align: center;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .article {
    &__card {
      width: 48%;
      margin-top: 15px;
      margin-bottom: 15px;
      // @extend %standart-center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .article {
    &__card {
      width: 22%;
    }

    &__heading {
      text-align: start;
    }
  }
}
