.business {
  &__cards {
    width: 100%;
    @extend %standard-center;
    gap: 30px;
    list-style: none;
  }

  &__card {
    width: 31.9%;
    height: 294px;
    /* outline: 2px solid red; */
    @extend %standard-center;
    &:nth-of-type(1) {
      background-image: url('./img/webstudio/content-1.jpg');
      @extend %background-styles;
    }
    &:nth-of-type(2) {
      background-image: url('./img/webstudio/content-2.jpg');
      @extend %background-styles;
    }

    &:nth-of-type(3) {
      background-image: url('./img/webstudio/content-3.jpg');
      @extend %background-styles;
    }

    &:hover {
      animation: wobble 1.5s ease-in-out 1;
      animation-delay: 0s;
    }
  }

  &__stripe {
    @extend %text-styles;
    background-color: #2f303a;
    color: #ffffff;
    opacity: 80%;
    width: 100%;
    height: 70px;
    align-self: flex-end;
    padding-left: 135px;
    padding-top: 25px;
  }

  &__heading {
    @extend %h2-styles;
  }
}
